examples/full_suite_ex.json
[
    {
        "id": "b57dc15288074831",
        "type": "smart-scheduler",
        "z": "d67a51a664ff0117",
        "mqttSettings": "2b95657f9aa8d5b2",
        "name": "smart-scheduler",
        "rules": [
            {
                "setName": "Confort",
                "setColor": "#ff596f",
                "spTemp": "22",
                "ruleIdx": "1"
            },
            {
                "setName": "Eco",
                "setColor": "#33a0ff",
                "spTemp": "19",
                "ruleIdx": "2"
            },
            {
                "setName": "Night",
                "setColor": "#72c736",
                "spTemp": "19",
                "ruleIdx": "3"
            }
        ],
        "schedules": "[{\"name\":\"New schedule 1\",\"idx\":1,\"events\":[{\"id\":1,\"start\":\"2018-01-02T17:35:00+01:00\",\"end\":\"2018-01-02T20:10:00+01:00\",\"ruleIdx\":1,\"s_dow\":2,\"s_mod\":1055,\"e_dow\":2,\"e_mod\":1210},{\"id\":2,\"start\":\"2018-01-03T06:25:00+01:00\",\"end\":\"2018-01-03T07:30:00+01:00\",\"ruleIdx\":2,\"s_dow\":3,\"s_mod\":385,\"e_dow\":3,\"e_mod\":450},{\"id\":3,\"start\":\"2018-01-03T07:30:00+01:00\",\"end\":\"2018-01-03T09:15:00+01:00\",\"ruleIdx\":1,\"s_dow\":3,\"s_mod\":450,\"e_dow\":3,\"e_mod\":555}]}]",
        "activScheduleId": "1",
        "triggerMode": "triggerMode.statechange.startup",
        "topic": "",
        "defaultSp": "5",
        "allowOverride": false,
        "executionMode": "auto",
        "overrideDuration": "120",
        "overrideTs": "5",
        "overrideSp": "0",
        "settingChanged": "1",
        "uniqueId": "SmartScheduler_1a",
        "cycleDuration": "1",
        "debugInfo": true,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "af66afc783ade803",
                "7d79b602369e7217"
            ]
        ]
    },
    {
        "id": "af66afc783ade803",
        "type": "smart-valve",
        "z": "d67a51a664ff0117",
        "name": "SV_SALON",
        "topic": "SV_SALON",
        "tempEntity": "sensor.th_salon_temperature",
        "groupId": "3",
        "climates": [
            {
                "entity": "climate.valve_salon_biblio",
                "calibration": "number.valve_salon_biblio_local_temperature_calibration"
            },
            {
                "entity": "climate.valve_salon_canape",
                "calibration": "number.valve_salon_canape_local_temperature_calibration"
            },
            {
                "entity": "climate.valve_salon_esc",
                "calibration": "number.valve_salon_esc_local_temperature_calibration"
            },
            {
                "entity": "climate.valve_salon_passerelle",
                "calibration": "number.valve_salon_passerelle_local_temperature_calibration"
            }
        ],
        "cycleDuration": "5",
        "spUpdateMode": "spUpdateMode.statechange.startup",
        "adjustValveTempMode": "adjustValveTempMode.adjust.threshold",
        "adjustThreshold": "1",
        "debugInfo": true,
        "allowOverride": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "9696dda20b364a27"
            ],
            [
                "27ba37c95ef1cc48"
            ]
        ]
    },
    {
        "id": "9696dda20b364a27",
        "type": "link out",
        "z": "d67a51a664ff0117",
        "name": "TO_HA_SERVICE",
        "mode": "link",
        "links": [
            "84738a4cc419c7d2"
        ],
        "x": 665,
        "y": 200,
        "wires": []
    },
    {
        "id": "27ba37c95ef1cc48",
        "type": "link out",
        "z": "d67a51a664ff0117",
        "name": "TO_BOILER",
        "mode": "link",
        "links": [
            "906942fe37ddc265"
        ],
        "x": 665,
        "y": 240,
        "wires": []
    },
    {
        "id": "69b03f35d131019b",
        "type": "smart-boiler",
        "z": "d67a51a664ff0117",
        "name": "SMART-BOILER",
        "topic": "",
        "mqttSettings": "9558ddab67e94202",
        "boilerTempTopic": "homeassistant/opentherm-thermostat/current-temperature/set",
        "boilerSpTopic": "homeassistant/opentherm-thermostat/setpoint-temperature/set",
        "boilerLeadingDeviceTopic": "homeassistant/opentherm-thermostat/leading_device/state",
        "mqttUpdates": true,
        "debugInfo": true,
        "boilerSecurity": true,
        "cycleDuration": "120",
        "outputUpdates": true,
        "defaultSp": "7",
        "defaultTemp": "10",
        "maxDurationSinceLastInput": "15",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "40eeb7bb6d796d5a"
            ]
        ]
    },
    {
        "id": "40eeb7bb6d796d5a",
        "type": "debug",
        "z": "d67a51a664ff0117",
        "name": "DEBUG_BOILER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ebc583888ea0866",
        "type": "api-call-service",
        "z": "d67a51a664ff0117",
        "name": "HA Service",
        "server": "2ea59f8981c891f6",
        "version": 5,
        "debugenabled": false,
        "domain": "",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "84738a4cc419c7d2",
        "type": "link in",
        "z": "d67a51a664ff0117",
        "name": "HA_SERVICE_IN",
        "links": [
            "1446e94e7f8144ba",
            "187ad93373663e5c",
            "6029ab088e5950b5",
            "6fc891bedd3ceacb",
            "7e9444962225d7a3",
            "9696dda20b364a27",
            "acbbc2b3d7fd13b5",
            "cf312c909edd116b",
            "cf48cc21938965e7"
        ],
        "x": 695,
        "y": 320,
        "wires": [
            [
                "6ebc583888ea0866",
                "d01136368d408ac1"
            ]
        ]
    },
    {
        "id": "7d79b602369e7217",
        "type": "debug",
        "z": "d67a51a664ff0117",
        "name": "DEBUG_SCHED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "d01136368d408ac1",
        "type": "debug",
        "z": "d67a51a664ff0117",
        "name": "DEBUG_HA_SERVICE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "906942fe37ddc265",
        "type": "link in",
        "z": "d67a51a664ff0117",
        "name": "BOILER_IN",
        "links": [
            "0d0c0b35d815784f",
            "27ba37c95ef1cc48",
            "3cf1abba8a26c96c",
            "ad83e89ce032787b",
            "b07ad4053b087a11",
            "e72553365da9133b"
        ],
        "x": 715,
        "y": 200,
        "wires": [
            [
                "69b03f35d131019b"
            ]
        ]
    },
    {
        "id": "2b95657f9aa8d5b2",
        "type": "smart-scheduler-settings",
        "name": "my settings",
        "mqttHost": "localhost",
        "mqttPort": "1883",
        "mqttUser": "mqtt_user",
        "mqttPassword": "",
        "mqttRootPath": "homeassistant"
    },
    {
        "id": "9558ddab67e94202",
        "type": "smart-boiler-settings",
        "name": "my settings",
        "mqttHost": "localhost",
        "mqttPort": "1883",
        "mqttUser": "mqtt_user",
        "mqttPassword": "",
        "mqttRootPath": "homeassistant"
    },
    {
        "id": "2ea59f8981c891f6",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]